body {
    margin: 40;
    color: #444444;
    background-color: #ffffff;
}
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }

  h5,
  h6 {
    font-weight: 200;
    margin-bottom: 0.5em;
  }

  h1,
  .h1 {
    font-family: 'Cookie', cursive;
    font-size: 96px;
  }
  
  h2,
  .h2 {
    font-family: 'Cookie', cursive;
    font-size: 48px;
  }
  
  h3,
  .h3 {
    font-family: 'Mukta', sans-serif;
    font-size: 32px;
  }
  
  h4,
  .h4 {
    font-family: 'Mukta', sans-serif;
    font-size: 24px;
  }
  
  h5,
  .h5 {
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
  }
  
  h6,
  .h6 {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
  }

  header {
    padding: 5px;
    height: 100vh;
    width: 100vw;
    background-color: #e6d3ff;
    display: flexbox;
    color: #3d1158;
    border-radius: 12px;  
  }  

  .cover-title-1 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-left: 20px;
  }

  .cover-title-2 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 10px;
  }
  
  .cover-title-3 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: right;
    line-height: 10px;
    margin-right: 40px;
  }

  .material-symbols-outlined {
    color: #ff8800;
    vertical-align: middle;
    padding: 0px 10px 0px 0px;
    font-weight: 900;
  }

  footer {
    padding: 5px;
    background-color: #edd3ff;
    color: #3d1158;
  }

  .contact {
    text-align: center;
  }

  .e-mail {
    text-align: center;
  }

  .e-mail .material-symbols-outlined {
    color: #3d1158;
    font-weight: 300;
  }

  .phrase {
    font-size: 32px;
    text-align: center;
    font-family: 'Cookie', cursive;
  }

  .copy {
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
  }

img {
  width: 100%;
  height: auto;
  border-radius: 12px; 
}  

@media (max-width: 480px) {

  .img-about {
    width: 100%;
  }

  .img-education {
    width: 100%;
  }

  .img-softskills {
    width: 100%;
  }

  .img-hardskills {
    width: 100%;
  }

  .img-work {
    width: 100%;
  }
}

@media (min-width: 481px) {

  .text-columns {
    column-count: 2;
    column-gap: 50px;
    flex-wrap: nowrap;
  }

  .container-about {
    display: flexbox;
    min-height: 100vh;
    column-count: 2;
  }

  .container-work {
    display: flexbox;
    min-height: 100vh;
    column-count: 2;
  }

  .img {
    width: auto;
    height: 50%;
    object-position: center top;
  }}