body {
    color: #444444;
    background-color: #ffffff;
}
  
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }

  h5,
  h6 {
    font-weight: 200;
    margin-bottom: 0.5em;
  }

  h1,
  .h1 {
    font-family: 'Cookie', cursive;
    font-size: 96px;
  }
  
  h2,
  .h2 {
    font-family: 'Cookie', cursive;
    font-size: 48px;
  }
  
  h3,
  .h3 {
    font-family: 'Mukta', sans-serif;
    font-size: 32px;
  }
  
  h4,
  .h4 {
    font-family: 'Mukta', sans-serif;
    font-size: 24px;
  }
  
  h5,
  .h5 {
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
  }
  
  h6,
  .h6 {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    display: flexbox;
    margin-top: 10%;
  }

  header {
    display: flexbox;
    padding: 5px;
    height: 100vh;
    width: 100vw;
    background-color: #e6d3ff;
    color: #3d1158;
    border-radius: 12px;
    justify-content: center;
    text-align: center;
  }  

  /*.about {
    vertical-align: middle;
  }*/

  button {
    padding: 5px;
    border: none;
    display: flexbox;
    text-align: right;
    background-color: #e6d3ff;
    text-decoration: underline;
    margin-top: 10px;
  }

  .btn {
    margin-left: 85%;
  }

  .cover-title-1 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .cover-title-2 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .cover-title-3 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 10px;
  }

  .scrollDown {
    color: #3d1158;
    font-weight: 100;
    display: flexbox;
  }

  .material-symbols-outlined {
    color: #ff8800;
    vertical-align: middle;
    padding: 0px 10px 0px 0px;
    font-weight: 900;
  }

  .skillColor1 {
    color: #ff8800;
  }

  .skillColor2 {
    color: #9b19ff;
  }

  .skillColor3 {
    color: #10d19e;
  }

  .skillColor4 {
    color: #d00520;
  }

  .skillColor5 {
    color: #ffc800;
  }

  .skillColor6 {
    color: #ec00c5;
  }

  .skillColor7 {
    color: #007bff;
  }

  .skillColor8 {
    color: #14b33c;
  }


  footer {
    padding: 5px;
    background-color: #edd3ff;
    color: #3d1158;
    border-radius: 12px;
  }

  .contact {
    text-align: center;
  }

  .e-mail {
    text-align: center;
  }

  .e-mail .material-symbols-outlined {
    color: #3d1158;
    font-weight: 300;
  }

  .phrase {
    font-size: 32px;
    text-align: center;
    font-family: 'Cookie', cursive;
  }

  .copy {
    font-family: 'Mukta', sans-serif;
    font-size: 12px;
    text-align: right;
    margin-right: 20px;
  }

img {
  width: 100%;
  height: auto;
  border-radius: 12px; 
}  


@media (max-width: 480px) {

  .img-about {
    width: 100%;
  }

  .img-education {
    width: 100%;
  }

  .img-softskills {
    width: 100%;
  }

  .img-hardskills {
    width: 100%;
  }

  .img-work {
    width: 100%;
  }
}


@media (min-width: 1280px) {
  
  .cover-title-2 {
    display: flexbox;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 10px;
    flex-wrap: nowrap;
  }

  .text-columns {
    margin-left: 10px;
    column-count: 2;
    column-gap: 30px;
    flex-wrap: nowrap;
  }

  .container-about {
    display: flexbox;
    min-height: 100vh;
    column-count: 2;
    column-gap: 30px;
  }

  .container-work {
    display: flexbox;
    min-height: 100vh;
    column-count: 2;
    column-gap: 30px;
  }
}