button {
    appearance: none;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    text-align: right;
    background-color: #3d1158;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }

  .btn {
    margin-left: 85%;
  }