.skillColor1 {
    color: #ff8800;

}

.skillColor2 {
    color: #9b19ff;
    
}

.skillColor3 {
    color: #10d19e;
    
}

.skillColor4 {
    color: #d00520;
    
}

.skillColor5 {
    color: #ffc800;
    
}

.skillColor6 {
    color: #ec00c5;
    
}

.skillColor7 {
    color: #007bff;
    
}

.skillColor8 {
    color: #14b33c;
    
}